# IDE
.idea

# Byte-compiled
__pycache__/

# Distribution / packaging
dgllife.egg-info/

# Docs
docs/build
docs/source/tutorials
docs/source/generated

# .DS_Store
# examples/.DS_Store
# python/.DS_Store
# python/dgllife/.DS_Store
*.DS_Store
.vscode/

# build/ and dist/
python/dist/
python/build/