# IDE
.idea
.vscode

# Byte-compiled
__pycache__/

# Distribution / packaging
dgllife.egg-info/

# Docs
docs/build
docs/source/tutorials
docs/source/generated

# Installation from source
python/build/
python/dist/
